
{% extends 'bootstrap.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block bootstrap5_extra_head %}
    <link href="/static/software/css/clapdb.css" rel="stylesheet">
{% endblock %}

{% block title %}CLAP Audio Software Database{% endblock %}

{% block bootstrap5_content %}
    <div class="container mt-3">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img style="padding-left: 8px;"width=40 src="{% static 'software/images/CLAP Full Logo.svg' %}"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Categories
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                {% for category in categories %}
                                    <li><a class="dropdown-item" href="{% url 'software-list-category' category.slug %}">{{ category.name }}</a></li>
                                {%  endfor %}
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'developer-list' %}">Developers</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'stats' %}">Stats</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'search' %}">Search</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid mt-3">
        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
        </div>
    </div>
{% endblock %}

{% block bootstrap5_extra_script %}
<script type='text/javascript'>
var Countly = Countly || {};
Countly.q = Countly.q || [];
Countly.app_key = "fe76f0bbd845da893eb2849b5d6241af3336bda1";
Countly.url = "https://countly.diers.us";
Countly.q.push(['track_sessions']);
Countly.q.push(['track_pageview']);
(function() {
var cly = document.createElement('script'); cly.type = 'text/javascript';
cly.async = true;
cly.src = 'https://countly.diers.us/sdk/web/countly.min.js';
cly.onload = function(){Countly.init()};
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(cly, s);
})();
</script>
{% endblock %}

