ul.developer_list {
    list-style-type: none;
}

ul.software_list {
    list-style-type: square;
}

ul.category_list {
    list-style-type: none;
}

ul.category_list li a {
    font-weight: bold;
}

ul.developer_list li {
    margin-bottom: 2px;
}

ul.developer_list li p {
    margin-bottom: 8px;
}

.developer_category {
    margin: 10px 0 4px 0;
}

h3.developer_name {
    margin: 1em 0 0 0;
    line-height: 1.2;
}

a.developer_link {
    text-decoration: none;
}